body {
    /* background: rgb(113, 203, 168);
    background: radial-gradient(circle, rgba(113, 203, 168, 1) 0%, rgba(2, 105, 163, 1) 76%, rgba(2, 9, 38, 1) 100%);
     */
     background: rgb(113, 203, 168);
     background: linear-gradient(90deg, rgba(113, 203, 168, 1) 0%, rgba(2, 105, 163, 1) 76%, rgba(2, 9, 38, 1) 100%);

    }

div.Image {
    background-image: url(https://seeklogo.com/images/O/OM_YOGA-logo-6F30131211-seeklogo.com.png);
}
h1 {
    font-size: 75px;
    /* margin-top: 300px; */
    padding-bottom: 75px;
}

.Information {
    height: 45px;
    margin-top: 75px;
    /* visibility: hidden; */
}

.canvas {
    margin-top: 25px;
    background-color: #04478d;
    height: 100%;
    width: 80%px;
    display: flex;
    flex-wrap: wrap;
}

.canvas {
    min-height: 80%;
    width: 75%;
}

.flex-container {
    display: flex;
    min-height: 80%;
}

.poses {
    width: 25%;
}

.classTitle {
    text-align: center;
}

#noter-text-area {
    position: absolute;
    height: 60px;
    width: 100%; 
    padding: 10px;
    margin: -80px;
    text-align: center;
    background-color: #020926;
    border: none;
    color: #94d3c8;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}

.Everything {
    background-color: #020926;
    padding: 100px;

}
/* .Information .Attention{
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
}

.Information:hover .Attention {
    visibility: visible;
} */
