.canvas {
    min-height: 80%;
    width: 75%;
    border-style:solid red;
}


.Everything {
    background-color: #020926;
    padding: 100px;

}

.flex-container {
    display: flex;
    min-height: 80%;
}

.poses {
    width: 25%;
}