.gu-transit {
    opacity: .7;
}

#wrapper {
overflow-y: scroll;
overflow-x: hidden;
height: 600px;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
